$black-main-color: black;
$white-main-color: white;
$container-contact-width: 75%;
body {
  #contact-header {
    background-color: $black-main-color;
    height: 15rem;
    .header .custom-menu-class .menu .home a {
      border-bottom: 0px solid black;
      justify-content: center;
      img {
        width: 15%;
      }
    }
    .header {
      width: $container-contact-width;
      height: 95%;
      margin: auto;
      padding-top: 4rem;
      padding-bottom: 4rem;
      border-bottom: 1px solid #ccc;
      filter: invert(100%);
      .logo-icon,
      .title-mp {
        font-size: 25px;
      }
      a {
        display: flex;
        justify-content: flex-end;
      }
      .custom-menu-class {
        .menu {
          display: flex;
          justify-content: center;
          height: 100%;
          li {
            width: 25em;
            margin: auto 0.3rem;
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            &:hover {
              border-bottom: 4px solid black;
            }
          }
          li:nth-child(3) {
            min-width: 25rem;
          }
          .contact {
            border-bottom: 3px solid black;
          }
        }
      }
      .wishlist {
        font-size: 20px;
        font-weight: 400;
        width: 70%;
      }
    }
  }
  #contact-info {
    background-color: $black-main-color;
    height: 75rem;
    position: relative;
    .trait {
      height: 1px;
      width: 11%;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0rem;
      top: 24%;
    }
    .contact-container {
      color: $white-main-color;
      width: $container-contact-width;
      position: relative;
      @media (min-width: 768px) and (max-width: 1024px) {
        // width: $container-contact-width + 10%;
      }
      > div {
        margin-top: 15rem;
      }
      .contact-title {
        h1 {
          color: $white-main-color;
          font-size: 40px;
          font-weight: 100;
        }
      }
      .contact-address,
      .contact-time {
        font-size: 18px;
        line-height: 2;
        margin-top: 5rem;
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-top: 0;
        }
        span {
          @media (min-width: 768px) and (max-width: 1024px) {
            //padding: 0;
          }
          img {
            width: 60%;
            @media (min-width: 768px) and (max-width: 1024px) {
              max-width: 100%;
            }
          }
        }
      }
      .contact-address {
        span {
          img {
            filter: invert(100%);
          }
          .route {
            @media (min-width: 768px) and (max-width: 1024px) {
              max-width: 5%;
            }
          }
        }
      }
      .contact-route {
        font-size: 20px;
        color: $black-main-color;
        height: 25rem;
        display: flex;
        align-items: flex-end;
        a {
          color: $white-main-color;
          img {
            filter: invert(100%);
          }
          &:hover {
            img {
              transition: all 0.5s;
              margin-left: 10px;
            }
          }
        }
      }
      .contact-map {
        z-index: 3;
        background-color: $white-main-color;
        height: 40rem;
        box-shadow: 5px 2px 10px gray;
        position: relative;
        img {
        }
      }
    }
  }
  #contact-question-form {
    margin: 25rem auto;
    .container {
      width: $container-contact-width;
      .contact-question {
        h1 {
          font-size: 40px;
          font-weight: 700;
          color: $black-main-color;
        }
        p {
          color: gray;
          line-height: 5;
          font-size: 20px;
        }
      }
      .contact-form {
        form {
          > div {
            margin: 2rem;
            height: 7rem;
            input {
              height: 100%;
              border: 0;
            }
          }
          div:nth-of-type(5) {
            height: 10rem;
            textarea {
              height: 100%;
              border: 0;
            }
          }
          .send-btn {
            height: 15rem;
            display: flex;
            align-items: flex-end;
            border-top: 1px solid #ccc;
            position: relative;
            span {
              color: gray;
              font-size: 15px;
              position: absolute;
              top: 20px;
              right: 10px;
            }
            button {
              background-color: $black-main-color;
              color: $white-main-color;
              height: 8rem;
              width: 25rem;
              border: 0;
              font-size: 18px;
              text-align: left;
              padding-left: 4rem;
              font-weight: 700;
              img {
                filter: invert(100%);
                margin-left: 5px;
              }
              &:hover {
                transition: all 0.5s;
                img {
                  transition: 0.5s;
                  margin-left: 10px;
                  filter: invert(0%);
                }
                color: $black-main-color;
                background-color: $white-main-color;
                box-shadow: 5px 2px 10px gray;
              }
            }
          }
        }
      }
    }
  }
  #contact-discount {
    background-size: cover;
    .container {
      width: $container-contact-width;
      display: flex;
      align-items: center;
      .contact-wishlist {
        background-color: $white-main-color;
        padding: 50px;
        margin: 15rem auto;
        width: 60%;
        h2 {
          font-size: 40px;
          font-weight: 700;
          margin: 4rem auto;
        }
        .wishlist {
          margin: 4rem auto;
          a {
            color: $black-main-color;
            font-size: 16px;
            font-weight: 700;
            img {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  #contact-footer {
    #footer {
      display: none;
    }
    .container {
      width: $container-contact-width;
      #contact-store {
        margin: 15rem auto;
        .store {
          display: flex;
          align-items: center;
          .img {
            img {
              max-width: 100%;
              border-radius: 70%;
            }
          }
          .wishlist {
            a {
              color: $black-main-color;
              font-size: 15px;
              font-weight: 700;
              img {
                margin-left: 5px;
              }
            }
            &:hover {
              img {
                margin-left: 10px;
                transition: all 0.5s;
              }
            }
          }
        }
        .contact-time {
          height: 18rem;
          font-size: 18px;
          line-height: 2;
          background-color: $black-main-color;
          color: $white-main-color;
          padding: 5rem;
          //width: 50%;
          span {
            img {
              width: 60%;
            }
          }
        }
      }
      .footer {
        width: $container-contact-width;
        padding: 5rem 0rem;
        border-top: 1px solid #ccc;
      }
    }
  }
}
