body {
  font: {
    family: proxima-nova, sans-serif;
    style: normal;
    weight: 100;
    size: 16px;
  }

  color: black;
}

.news-content {
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 70px;

  .news-container-background {
    width: 100%;
    padding: 0px;

    .news-background-black {
      background: black;
      position: absolute;
      left: 0;
      top: 135px;
      height: 380px;
      width: 100%;
    }
  }
}

.news-container {
  overflow: hidden;
  width: 75%;
  margin: auto;

  a {
    text-decoration: none;
    cursor: pointer;
    color: black;

    h3:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font: {
      weight: 500;
      size: 30px;
    }
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
  }

  .row {
    margin: auto;
  }

  .img-container {
    width: 95%;
  }

  .news-image {
    height: auto;
    width: 100%;
  }

  .news-titre {
    font: {
      size: 34px;
      weight: 700;
    }

    margin-bottom: 20px;
  }

  .news-date {
    font: {
      weight: 500;
      size: 16px;
    }
  }
}

/// responsive

@media screen and (max-width: 1270px) {
}
