body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: black; }

.news-container {
  overflow: hidden;
  width: 75%;
  margin: auto; }
  .news-container a {
    text-decoration: none;
    cursor: pointer;
    color: black; }
    .news-container a h3:hover {
      text-decoration: underline; }
  .news-container h1 {
    font-weight: 500;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px; }
  .news-container .row {
    margin: auto; }
  .news-container .img-container {
    width: 95%; }
  .news-container .news-image {
    height: auto;
    width: 100%; }
  .news-container .news-titre {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px; }
  .news-container .news-date {
    font-weight: 500;
    font-size: 16px; }
